html {
    margin: 0;
    padding: 0;
}

html * {
    color: white;
    font-family: "Commissioner", san-serif;
}


body {
    background-color: black;
    margin: 0;
    padding: 0;
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
}

.fader {
    position: absolute;
    top: 0;
    width: 100%;
    height: 55vh;
    z-index: 100;
    margin: 0;
    padding: 0;
    background: linear-gradient(to top, transparent 0%,transparent 70%, black 100%)
}

#teaser {
    background: black;
    width: 100%;
    height: 55vh;
    margin: 0;
    padding: 0;
    position: relative;
    right: 0;
    overflow: hidden;
}

/* Style the video: 100% width and height to cover the entire window */
#myVideo {
  position: relative;
  right: 0;
  top: -400px;
  min-width: 100%;
  min-height:100%;
}

/* Add some content at the bottom of the video/page */
.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

/* Style the button used to pause/play the video */
#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

section {
    padding: 0 10%;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

section > * {
    width: 100%;
    text-align: center;
}

h1 {
    font-size: 80px;
    margin: 0;
}

p {
    font-size: 30px;
    margin-top: 20px;
    color: #848484;
}
footer {
    width: 100%;
    height: max-content;
    /*margin-bottom: 200px;*/
}
ul {
    list-style-type:none;
    padding:0px;
    margin:0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
li {
   display:inline;
    width: max-content;
    background-color:#2d2d2d;
    border-radius: 25px;
    transition: all 0.2s ease-in-out;
    margin: 0 50px;
    /*box-shadow: 0px -2px 20px 2px rgba(255, 255, 255, 0.4);*/
}


li:hover {
    cursor: pointer;
    background-color:#787878;
}


li:hover p {
    color:white;
}

li p {
    margin: 10px 20px;
    transition: all 0.2s ease-in-out;
}

.authors-list {
    /*background-color: pink;*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 50px;
}

.authors-list > p {
    width: max-content;
    margin: 0;
    color: white;
}

.institutions-list, .text-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.demos, .demos-2 {
    display: grid;
    grid-template-columns: 1fr 0.5fr 1fr;
}

.demo-img {
    width: 100%;
    height: min-content;
}

img {
    max-width: 100%;
    height: auto;;
}

.designed-by {
    color: white;
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 30px;
}
.yt-demos {
  display: grid;
  grid-template-columns: 5% [ini] 1fr [end] 5%;
  width: 100%;
  height: max-content;
}

.yt-demos > div {
    start
}

iframe {
    /*display:block;*/
}

@media screen and (max-width: 767px){
    #myVideo {
        top:0;
        width: unset;
        height: 55vh;
    }

    h1 {
        font-size: 50px;
    }
    section {
        padding: 0 5%;
    }
    
    .institutions-list, .text-content {
        padding: 0 5%;
    }

    .institutions-list p, .text-content p {
        text-align: center;
    }

    ul {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }

    .demos {
        grid-template-columns: 1fr;
    }
}